/*
*
* Copyright (c) 2021 lowprokb.ca
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define COLEMAK 0
#define LOWER 1
#define RAISE 2
#define CONFIG 3

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "COLEMAK";
                        bindings = <
   &kp ESC             &kp Q             &kp W             &kp F             &kp P             &kp G                                                       &kp J             &kp L             &kp U             &kp Y              &kp SEMI          &kp BKSP
   &lt CONFIG TAB      &kp A             &kp R             &kp S             &kp T             &kp D                                                       &kp H             &kp N             &kp E             &kp I              &kp O             &kp QUOT
   &kp LSHFT           &kp Z             &kp X             &kp C             &kp V             &kp B                                                       &kp K             &kp M             &kp CMMA          &kp DOT            &kp FSLH          &mt RSHIFT RET
                                                           &kp LALT          &kp LGUI          &lt LOWER SPACE                                             &lt RAISE SPACE   &kp RGUI          &kp RALT
                        >;
                };

                lower_layer {
                        label = "LOWER";
                        bindings = <
   &kp TILDE           &kp EXCL          &kp AT            &kp POUND         &kp DLLR          &kp PRCNT                                                   &kp CARET         &kp AMPS          &kp ASTRK         &kp LPAR           &kp RPAR          &kp BKSP
   &kp DEL             &none             &none             &none             &kp SPACE         &none                                                       &none             &kp UNDER         &kp PLUS          &kp LBRC           &kp RBRC          &kp PIPE
   &kp LSHFT           &none             &none             &none             &none             &none                                                       &none             &none             &kp LEFT          &kp DOWN           &kp UP            &kp RIGHT
                                                           &none             &none             &trans                                                      &KP SPACE         &kp RGUI          &kp RALT
                        >;
                };

                raise_layer {
                        label = "RAISE";
                        bindings = < 
   &kp GRAVE           &kp N1            &kp N2            &kp N3            &kp N4            &kp N5                                                      &kp N6            &kp N7            &kp N8            &kp N9             &kp N0            &kp BKSP
   &kp DEL             &kp F1            &kp F2            &kp F3            &kp F4            &KP F5                                                      &KP F6            &kp MINUS         &kp EQUAL         &kp LBKT           &kp RBKT          &kp BSLH
   &kp CAPS            &KP F7            &KP F8            &KP F9            &KP F10           &KP F11                                                     &KP F12           &kp C_PP          C_PREV            &kp C_VOL_DN       &kp C_VOL_UP      &kp C_NEXT
                                                           &kp LALT          &kp LGUI          &kp SPACE                                                   &trans            &none             &none
                        >;
                };

                config_layer {
                        label = "CONFIG";
                        bindings = <
   &kp RCTRL           &none             &none             &none             &none             &none                                                       &none            &none              &none             &none              &none             &none
   &trans              &none             &none             &none             &none             &none                                                       &bt BT_CLR       &bt BT_SEL 0       &bt BT_SEL 1      &bt BT_SEL 2       &bt BT_SEL 3      &bt BT_SEL 4
   &none               &none             &none             &none             &none             &none                                                       &none            &none              &none             &none              &none             &none
                                                           &none             &none             &none                                                       &none            &none              &none
                        >;
                };
        };
};